doctype html
html(lang="en")
    head
        title Document
    body
        h1 Hello World 
        div(class= ['test', 'test2'] id='1d1' )
            p(style={color: 'crimson', background: 'purple'}) In div 
        .container
            .content 
                p.test.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Et asperiores molestiae molestias, ipsa beatae magnam!
        style.
            .test {
                font-size: 50px
            }
        script.
            console.log('hello')